.attendance-list {
  padding: 20px;
}

.attendance-form {
  margin-bottom: 20px;
}

.course-id-input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.course-id-input:hover {
  border-color: #007bff;
}

.fetch-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: right; /* Đổi text-align thành center */
}

.attendance-table th {
  background-color: #f2f2f2;
}

.attendance-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.attendance-table tr:hover {
  background-color: #f1f1f1;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
  text-align: left;
}
