.attendance-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.attendance-list h2 {
  margin-bottom: 20px;
  color: #007bff;
  font-weight: bold;
  text-align: center;
}

.attendance-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.course-id-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.fetch-button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
}

.attendance-table {
  width: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.attendance-table th,
.attendance-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.attendance-table th {
  background-color: #f2f2f2;
  color: black;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}
